
body {
    background-image: url(https://webster.cs.washington.edu/images/moviebg.png);
    padding: 0px;
    margin: 0px;
}

body, #General_Info {
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
}

header p, .quote {
    font-family: Georgia, "Times New Roman", serif;
    text-align: center;
}

header {
    background-image: url(https://webster.cs.washington.edu/images/rancidbannerbg.png);
    background-repeat: repeat-x;
}

header img{
    height: 50px;
    display: block;
}

header p {
    font-size: 24pt;
    text-shadow: 3px 3px #999999;
}

header img, #Overall_Content_Area, #reviews {
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

dt, #header {
    font-weight: bold; 
}

dd {
    padding-bottom: 15px;
}

#Overall_Content_Area {
    display: flex;
    flex-direction: row;
    width: 55%;
    box-shadow: 5px 5px 5px #EEEEEE;
    background-color: #EEEEEE;
}

#header {
    background-image: url(https://webster.cs.washington.edu/images/rottenlargebg.png);
    background-repeat: repeat-x;
    margin-bottom: 1rem;
    background-position: top;
    display: flex;
    flex-direction: row;
    font-size: 48pt;
    color: red;
}

#header img {
    height: 83px;
}

#reviews {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.quote {
   font-size: 13pt;
   background-color: #FFFFFF;
   border-color: #CCCCCC;
   border-width: 2px;
   border-style: dashed;
   border-radius: 12px;
   padding: 1em;
   text-align: left;
   margin-bottom: 0;
}

.quote q {
    text-align: left;
}

.quote img, .critic img {
    float: left;
    padding-right: 5px;
}

#Right_Column {
    width: 399px;
}

#Right_Column, #page {
     background-color: #A2B964;
}
#General_Info {
    padding-left: 15px;
    padding-right: 15px;
}

#page {
    text-align: center;
    margin-bottom: 0;
    padding: 0.5em;
}



